beautifulsoup4>=4.13
faiss-cpu>=1.11
graphviz>=0.20
networkx>=3.5
numpy>=2.3
openai>=1.86
pydantic>=2.11
pymupdf>=1.26
python-docx>=1.1.2
python-dotenv>=1.1
requests>=2.32
streamlit>=1.45
streamlit-sortables>=0.3
tenacity>=9.1
readability-lxml>=0.8
