faiss-cpu>=1.11
graphviz>=0.20
networkx>=3.5
numpy>=2.3
openai>=1.86
pydantic>=2.11
pymupdf>=1.26
python-docx>=1.1.2
python-dotenv>=1.1
requests>=2.32
tenacity>=9.1
readability-lxml>=0.8
streamlit==1.33.0
beautifulsoup4==4.12.3
streamlit-sortables==0.2.0
